name: CloudFormation Security Scan

on:
  push:
    paths:
      - 'cloudformation-scanner/**'

jobs:
  checkov-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Checkov & dependencies
      run: pip install -r cloudformation-scanner/requirements.txt

    - name: Debug - Show working directory and file tree
      run: |
        pwd
        ls -la
        ls -R cloudformation-scanner/

    - name: Run CloudScout Scan
      run: |
        python cloudformation-scanner/scanner/scan.py \
          --path cloudformation-scanner/templates \
          --format md \
          --fail-on high
      continue-on-error: true
